SMTP_HOST=smtp.seuprovedor.com
SMTP_PORT=587
SMTP_USER=seu_usuario_smtp
SMTP_PASS=sua_senha_smtp
MAIL_FROM=TruckBem Site <site@truckbem.com>
MAIL_TO=administrativo@truckbem.com.br,herik@truckbem.com.br
PORT=3000

